@import url('./_type/popup__container_type_editProfile.css');
@import url('./_type/popup__container_type_newPlace.css');
@import url('./_type/popup__container_type_newAvatar.css');
@import url('./_type/popup__container_type_picture.css');
@import url('./_type/popup__container_type_confirmDelete.css');

.popup__container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
