.profile-card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

@media screen and (max-width: 860px) {
  .profile-card {
    flex-direction: column;
  }
}
